{% extends "base.html" %}

{% block content %}
<div class="settings">
    <h1>Sessions</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>Browser & OS</th>
                <th>Logged on</th>
                <th>Last seen</th>
                <th>IP address</th>
            </tr>
            {% for s in sessions %}
            <tr>
                <td>{{ browser_os(s) }}</td>
                <td>{{ created(s) }}</td>
                <td>{{ last_seen(s) }}</td>
                <td>{{ address(s) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
