.auth .error {
    font-weight: bold;
    color: red;
    text-align: center;
}

.auth form {
    max-width: 24rem;
    margin: auto;
    padding: 0.5rem;
}

.auth form span {
    float: right;
    font-size: 0.9rem;
    font-weight: bold;
}

.auth h1 {
    text-align: center;
}

.auth .g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.auth label[for="username"],
.auth label[for="password"] {
    font-size: 0.9rem;
    font-weight: bold;
}

.auth .optin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth .password {
    display: flex;
}

.auth .password input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.auth .password password-toggle::part(toggle) {
    background: rgb(255, 255, 255);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 2px solid rgb(193 193 193);
    border-left: none;
    color: rgb(162 162 162);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin: 0.5rem 0;
    outline: none;
    padding: 0.5rem;
    width: 4rem;
}

.auth .password input:focus + password-toggle::part(toggle) {
    border: 2px solid rgb(77 144 254);
    border-left: none;
}

.auth .submit {
    display: flex;
    justify-content: center;
}
