.backgammon-board table {
    table-layout: fixed;
    border-collapse: collapse;
}

.backgammon-board td {
    width: 2rem;
    text-align: center;
    vertical-align: middle;
}

.backgammon-board .die {
    font-size: 2rem;
}

.backgammon-board .bar {
    background: lightgrey;
}
