.backgammon-board {
    visibility: hidden;
}

backgammon-board::part(board-table) {
    table-layout: fixed;
    border-collapse: collapse;
}

backgammon-board::part(board-td) {
    width: 2rem;
    text-align: center;
    vertical-align: middle;
}

backgammon-board::part(board-td-bar) {
    background: lightgrey;
    width: 2rem;
    text-align: center;
    vertical-align: middle;
}

backgammon-board::part(board-td-die) {
    font-size: 2rem;
    width: 2rem;
    text-align: center;
    vertical-align: middle;
}
