.index button {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem auto;
}

.index .cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
        url("/static/img/art/rombouts_backgammon_players.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index .intro {
    color: white;
    font-weight: bold;
    text-align: justify;
    text-shadow: 2px 2px 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index .intro .container {
    max-width: 24rem;
    margin: 0 1rem;
}

.index .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.index news-feed::part(entries) {
    list-style: none;
    margin: 0;
    padding: 0;
}

.index news-feed::part(entry) {
    margin-bottom: 0.5rem;
}

.index news-feed::part(title) {
    font-weight: bold;
}

.index news-feed::part(date) {
    font-size: 0.8rem;
    color: rgb(78, 78, 78);
}
