nav {
    background: rgb(220 220 220);
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

nav a {
    color: rgb(0 0 0);
    font-weight: bold;
}

nav img {
    margin: 1rem;
}

nav > a,
nav > span {
    display: inline-flex;
    align-items: center;
}

nav > ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li:not(:last-child) {
    padding-right: 2rem;
}
