.password .field {
    display: flex;
}

.password .field input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.password .field password-toggle::part(toggle) {
    background: rgb(255, 255, 255);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 2px solid rgb(193 193 193);
    border-left: none;
    color: rgb(162 162 162);
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin: 0.5rem 0;
    outline: none;
    padding: 0.5rem;
    width: 4rem;
}

.password .field input:focus + password-toggle::part(toggle) {
    border: 2px solid rgb(77 144 254);
    border-left: none;
}

.password span {
    float: right;
    font-size: 0.9rem;
    font-weight: bold;
}
