.settings {
    max-width: 64rem;
    padding: 0 1rem;
    margin: auto;
}

.settings .table-container {
    overflow-x: auto;
}

.settings table {
    border-collapse: collapse;
    width: 100%;
}

.settings th,
.settings td {
    padding: 0.5rem;
    white-space: nowrap;
}

.settings th {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.settings tr:nth-child(even) {
    background-color: #f2f2f2;
}

.settings .delete button {
    background: rgb(176 0 32);
}
