{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/password.css') }}" />
{% endblock %}

{% block content %}
<div class="auth">
    <form action="{{ url_for('auth.login') }}" method="post">
        <h1>Log in</h1>
        {% if error is not none %}<div class="error">{{ error }}</div>{% endif %}
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username(type="email") }}
        <div class="password">
            {{ form.password.label }}<span><a href="{{ url_for('auth.reset') }}" tabindex='-1'>Forgot your password?</a></span>
            <div class="field">
                {{ form.password(autocomplete="current-password", maxlength=config["PASSWORD_MAX_LENGTH"]) }}
                <password-toggle password-input="{{ form.password.id }}"></password-toggle>
            </div>
        </div>
        {{ form.time_zone }}
        {{ form.recaptcha }}
        <div class="submit">
            <button type="submit">Log in</button>
        </div>
        <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up</a></p>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/components/password_toggle.js') }}"></script>
<script>
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone
    document.getElementById('{{ form.time_zone.id }}').value = tz
</script>
{% endblock %}
