{% extends "base.html" %}

{% block content %}
<div class="auth">
    <form action="{{ url_for('auth.login') }}" method="post">
        <h1>Log in</h1>
        {% if error is not none %}<div class="error">{{ error }}</div>{% endif %}
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username(type="email") }}
        {{ form.password.label }}<span><a href="{{ url_for('auth.reset') }}" tabindex='-1'>Forgot your password?</a></span>
        <div class="password">
            {{ form.password(type="password", autocomplete="current-password") }}
            <password-toggle password-input="{{ form.password.id }}"></password-toggle>
        </div>
        {{ form.time_zone }}
        {{ form.recaptcha }}
        <div class="submit">
            <button type="submit">Log in</button>
        </div>
        <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up</a></p>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone
    document.getElementById('{{ form.time_zone.id }}').value = tz
</script>
{% endblock %}
