{% extends "base.html" %}

{% block description %}Start a new game. Invite a friend or search for an opponent.{% endblock %}

{% block title %}Play | {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/play.css') }}" />
{% endblock %}

{% block content %}
    <div class="play">
        <div class="menu">
            <button type="button" onclick="document.location='{{ url_for('play.match') }}'">Find an opponent</button>
            <button type="button" onclick="document.location='{{ url_for('play.custom') }}'">Invite a friend</button>
        </div>
    </div>
{% endblock %}
