{% extends "base.html" %}

{% block description %}Backgammon Network stats.{% endblock %}

{% block title %}Stats | {% endblock %}

{% block content %}
<div>
    <h1>Current players</h1>
    <p>{{ connected }}</p>

    <h1>Unique visitors</h1>
    <p>{{ visitors }}</p>

    <h1>Page views</h1>
    <p>{{ views }}</p>

    <form action="{{ url_for('stats.dashboard') }}" method="post">
        {{ form.csrf_token }}
        {{ form.date(type="date") }}
        <div class="submit">
            <button type="submit">View details</button>
        </div>
    </form>
</div>
{% endblock %}
